.small-button {
  border:none;
  background-color:#222121;
  color: #7F7C7C;
  border-radius: 6px;
  padding:1em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;  
} 

.small-button:hover {
  background-color: #575770; 
}
.small-button:active {
  background-color: #575770; 
}