
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  border:none;  
  border-radius:30px ;
 background-color: white;
}

.left-side {
  background-color: #000000 ;
  width: 50%;
  height: 100%;
  color: white;
  border-radius: 30px;
  border:none; 
}

.signup-text{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-left:3em;
  margin-top:5em;
  font-weight: bold;
  line-height: 39px;
  padding-bottom: 1.5em;
  
}

.signup-button {
  font-family: 'Montserrat', sans-serif;
  background-color: #006F84; 
  border: none;
  border-radius: 10px;  
  color: #E3D0D0; 
  font-size: 14px; 
  font-weight: bold;
  text-align: center;
  width: 53.5em;
  cursor: pointer;
  padding: 1.5em 0 1.5em 0;
  margin: 7em 7em;  
}


.mini-container{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left:6em;
  margin-right:7em;
}

.have-account {
  font-family: 'Montserrat', sans-serif;
  color: #878484;
  font-weight: bold;
}

.have-account-login {
  border:none;
  background-color:#222121;
  color: #7F7C7C;
  border-radius: 6px;
  padding:1em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-left:35em
}

.right-side {
  background-color: white;
  width:50%;
  height: 100%;
  padding:1em; 
}

.center-logo {
   text-align: center;
   margin-top: 10em;
  
 }